html , body {
    width: 100%; 
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    position: relative;
}

header{
    width: 100%;
    height: 5%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    
}

.div-header-left{
    width: 5%;
    height: 100%;
}

.div-header-left-img{
    width: 100%;
    height: 100%;
}

.div-header-right{
    width: 5%;
    height: 100%;
    background-color: #6356FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fas{
    color: white;
}

.part1{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.div-part1-left{
    width: 40%;
    height: 100%;
    background-color: #6355FF;
    
}

.div-part1-left-text-button{
    width: 85%;
    height: 100%;
    
}

.text1-left-part1{
    color: white;
    margin-left: 3.5rem;
    margin-top: 11rem;
    font-size: 1rem;
}

.text2-left-part1{
    color: white;
    font-size: 4rem;
    margin-left: 3.5rem;
    margin-top: 1.5rem;
}

.text3-left-part1{
    color: white;
    margin-left: 3.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.button-part1{
    color: black;
    background-color: white;
    outline: none;
    border: none;
    width: 22%;
    height: 6%;
    font-size: 0.5rem;
    margin-left: 4rem;
    margin-top: 3rem;
}



.div-part1-right{
    width: 60%;
    height: 100%;
    
}

.img-part1{
    width: 100%;
    height: 100%;
}


.part2{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.div-part2-left{
    height: 100%;
    width: 50%;
    background-color: black;
}

.div-part2-right{
    height: 100%;
    width: 50%;
    background-color: white;
    position: relative;
}

.div-part2-right-img{
    position: absolute;
    height: 70%;
    width: 100%;
    top: 7rem;
    right: 5rem;
    box-shadow: 0px 2px 2px 1px white;
    background-size: cover;
    background-position: center;
    
}

.text1-left-part2{
    color: #6356FF;
    margin-top: 10rem;
    margin-left: 8rem;

}

.text2-left-part2{
    font-size: 5rem;
    color: #6356FF;
    margin-top: 2rem;
    margin-left: 7rem;
}

.text3-left-part2{
    color: white;
    margin-top: 2rem;
    margin-left: 7rem;
}

.text4-left-part2{
    color: white;
    margin-top: 2rem;
    margin-left: 7rem;
}

.part3{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.div-part3-left{
    height: 100%;
    width: 55%;
}

.div-part3-right{
    height: 100%;
    width: 45%;
    background-color: #6356FF;
    position: relative;
}

.div-part3-right-img{
    position: absolute;
    box-shadow: 0px 2px 2px 1px black;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 70%;
    top: 6rem;
    right: 18rem;

}

.div-part3-right-img-phone{
    position: absolute;
    width: 35%;
    height: 55%;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    top: 15rem;
    left: 17rem;
}


.div-part3-left-text1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
}

.left-text1{
    color: #6356FF;
    margin-left: 9rem;
    margin-bottom: 2rem;
}

.div-part3-left-text1{
    width: 100%;
    height: 18%;
}

.div-part3-left-text2{
    width: 100%;
    height: 10%;
    
}

.left-text2{
    color: black;
    font-size: 5rem;
    margin-left: 8rem;

}

.div-part3-left-web{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;


}

.div-part3-left-web2{
    display: flex;

}

.part3-let-part2{
    margin-left: 1rem;
}

.margin-top{
    margin-right: 3rem;
}

.margin-top-1rem{
    margin-top: 0.6rem;
}


.part3-let-part1{
    width: 50%;
    height: 100%;
}

.part3-let-part2{
    width: 80%;
    height: 100%;
}


.box{
    border: 0.5px solid #6356FF;
    width: 1rem;
    height: 1.2rem;
}

.div-khat-text{
    width: 100%;
    height: 25%;
    display: flex;
}

.khat{
    border: 0.3px solid #6356FF;
    width: 3rem;
    height: 0;
    margin-top: 1.2rem;
}

.text-khat{
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.margin-left-top{
    margin-left: 5rem;
    margin-top: 4rem;
}

.margin-top{
    margin-top: 4rem
}

.margin-left-top-part2{
    margin-top: 2rem;
    margin-left: 8.5rem;

}


.part4{
    width: 100vw;
    height:100vh;
}

.part4-5-text1{
    margin-top: 3rem;
    text-align: center;
    color: #6356FF;
}

.part4-5-text2{
    text-align: center;
    color: black;
    margin-top: 2rem;
    font-size: 3rem;
}

.div-part4-img{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
}

.img-part4{
    width: 22%;
    height: 70%;
    margin-top: 3rem;
    
}


.part5{
    width: 100vw;
    height: 100vh;
}

.div-part5-img{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.img-part5{
    width: 22%;
    height: 70%;
    margin-top: 3rem;

}

.box-part5-1{
    position: absolute;
    width: 22%;
    height: 17%;
    background-color: #6355FF;
    border: 0.5px solid black;
    box-shadow: 0px 0px 3px 0.5px black;
    top: 27.8rem;
    margin-right: 66.3rem;
    display: flex;
}

.box-part5-2{
    position: absolute;
    width: 22%;
    height: 17%;
    background-color: #6355FF;
    border: 0.5px solid black;
    box-shadow: 0px 0px 3px 0.5px black;
    margin-top: 27.8rem;
    margin-right: 22rem;
    display: flex;
}

.box-part5-3{
    position: absolute;
    width: 22%;
    height: 17%;
    background-color: #6355FF;
    border: 0.5px solid black;
    box-shadow: 0px 0px 3px 0.5px black;
    margin-top: 27.8rem;
    margin-left: 22rem;
    display: flex;
}

.box-part5-4{
    position: absolute;
    width: 22%;
    height: 17%;
    background-color: #6355FF;
    border: 0.5px solid black;
    box-shadow: 0px 0px 3px 0.5px black;
    margin-top: 27.8rem;
    margin-left: 66.2rem;
    display: flex;
}

.color{
    color: white;
}

.margin1{
    margin-top: 2rem;
    margin-left: 1rem;
}

.margin2{
    margin-top: 0.7rem;
    margin-left: 0.8rem;
}

.div-part5-p{
    width: 50%;
    height: 100%;
}

.div-part5-icon{
    width: 50%;
    height: 100%;
    margin-top: 3rem;
    margin-left: 7.5rem;
    display: flex;
    gap: 0.7rem;
}


.part6{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.part6-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.part6-right{
    width: 40%;
    height: 100%;
    background-color: #6355FF;
}

.part6-right-divimg{
    width: 100%;
    height: 70%;
    position: relative;
}

.part6-right-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8rem;
    right: 14rem;
    box-shadow: 0px 0px 1px 1px white;
}

.texe-footer-part1{
    margin-top: 4rem;
    margin-left: 4.3rem;
    font-size: 1rem;
    color: #6355FF;
}

.texe-footer-part2{
    margin-top: 1.4rem;
    font-size: 5rem;
    margin-left: 4.1rem;
}

.part6-input1{
    margin-top: 4rem;
    margin-left: 4.3rem;
    outline: none;
    width: 35rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

.part6-input2{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 35rem;
    margin-left: 4.3rem;
    margin-top: 3rem;
}

.part6-input3{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 35rem;
    margin-left: 4.3rem;
    margin-top: 3rem;
}

.part6-input4{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 35rem;
    margin-left: 4.3rem;
    margin-top: 8rem;
}

.part6-button{
    width: 9rem;
    height: 3rem;
    background-color: #6356FF;
    margin-left: 4.3rem;
    border: none;
    color: white;
    margin-top: 3.5rem;
    font-size: 0.8rem;
}

.part6-button:hover{
    cursor: pointer;
}


